.side-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.side-nav .nav-links {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-nav .side-nav-item {
  color: var(--text-color1);
  padding: 1.5rem 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.side-nav .side-nav-item.active,
.side-nav .visits {
  background: linear-gradient(
    90deg,
    var(--mini-background-color4),
    var(--nav-background-color)
  );
}

.side-nav .side-nav-item:not(.active):hover {
  color: var(--primary-color);
}
.side-nav .side-nav-item.active:hover {
  color: var(--text-color2);
}

.side-nav .logo-img {
  height: 5rem;
  width: 5rem;
  margin: 1rem 0;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--primary-color);
  border-radius: 50%;
}

.side-nav .view-mode{
  height: 3rem;
  width: 3rem;
  padding: 2px;
  cursor: pointer;
}

.side-nav .visits {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  color: var(--text-color1);
  width: 100%;
}
